.container-home {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;
  align-content: flex-start;
}

h3 {
  color: white;
  text-transform: uppercase;
  margin: 0;
  font-size: 28px;
}

ul {
  /* border: 2px solid yellow; */
  text-align: left;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}
