.App {
  text-align: center;
  background-color: #282c34;
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.App-content {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 20px;
}

h1 {
  color: white;
  text-transform: uppercase;
}

p {
  font-size: 16px;
  text-transform: capitalize;
}

img {
  margin: 8px;
  width: 300px;
  height: 300px;
}

.container {
  margin: 10px 4px;
  border: 1px solid rgb(156, 155, 155);
  border-radius: 8px;
  padding: 4px;
}

button {
  font-size: 20px;
  border-radius: 8px;
  cursor: pointer;
  padding: 8px;
  border: none;
  background-color: rgb(86, 128, 86);
  color: #fff;
}

a {
  cursor: pointer !important;
  color: rgb(129, 185, 204) !important;
  margin: 4px;
  font-size: 22px;
  height: fit-content;
}
